# Sample Caddyfile
#
# Defines two listeners (unsecured & secured) that host the example/video direc$
#

# Unsecure listener for debugging purposes
http://10.0.2.2:4040 {
    root /home/mininet/dash/video/trem/
    log stdout
}

# Secure listener, required for TLS and QUIC connections
https://10.0.2.2:4242 {
    root /home/mininet/dash/video/run/
    tls self_signed
    log stdout
}
